<div class="row justify-content-center">
	<div class="col-md-7 text-center">
		<hr class="colorgraph">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-5 col-sm-3 col-lg-2">
		<img class="w-100 profile-image rounded-circle " src="{{profile-image}}" />
	</div>
	<div class="col-5 col-sm-3 col-lg-2">
		<div class="display-6">ยินดีต้อนรับ</div>
		<div class="display-4" sytle="overflow: scroll;">{{profile-displayName}}</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-7 text-center">
		<hr class="colorgraph">
	</div>
</div>
<!-- {{custom}} -->